
<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-9">

              <!-- Blog Post -->
                <br><br><br><br>
              <div class="media">

                  <div class="media-body">
                      <h4 class="media-heading">
                          Inscrições abertas para o Concurso Cultural Infantil de Desenhos
                      </h4>
                      Para você que tem filhos de 4 a 12 anos preparamos uma ação especial: um concurso de desenhos. Com o tema <strong>“Eu, meu pai e o esporte”</strong> as crianças
                      podem abusar da criatividade para desenvolver o tema. Vale usar lápis, caneta, giz e tinta, de todas as cores. Não valem colagens,
                      dobraduras ou qualquer tipo de montagem com fotos ou outro material.  <a href='/main/post5'>...ler mais</a></p>
                  </div>

                  <div class="post-base">
                      <hr>
                      <small class="pull-left string"><span class="glyphicon glyphicon-envelope"></span> Julho 31, 2017 às 2:30 PM</small>
                      <a class="pull-right" href="#">
                        <img class="media-object img-circle"  src="/img/thumbinails/iorio.jpg" height="64">
                      </a>
                  </div>
              </div>


              <!-- Blog Post -->
                <br><br><br><br>
              <div class="media">

                  <div class="media-body">
                      <h4 class="media-heading">
                          Conheça os vencedores do Concurso Cultural Vedasport
                      </h4>
                      É com muita satisfação que anunciamos os 50 ganhadores do Concurso Cultural Vedasporte. Recebemos dezenas de histórias
                      com experiências de vida, fatos engraçados, casos de família, amor ao time ou ao esporte do coração.  <a href='/main/post4'>...ler mais</a></p>
                  </div>

                  <div class="post-base">
                      <hr>
                      <small class="pull-left string"><span class="glyphicon glyphicon-envelope"></span> Julho 24, 2017 às 1:30 PM</small>
                      <a class="pull-right" href="#">
                        <img class="media-object img-circle"  src="/img/thumbinails/iorio.jpg" height="64">
                      </a>
                  </div>
              </div>



                <!-- Blog Post -->
                  <br><br><br><br>
                <div class="media">

                    <div class="media-body">
                        <h4 class="media-heading">
                          Treinamento em Sistemas de Impermeabilização
                        </h4>
                        A apresentação do tema consiste em descriminar a impermeabilização com foco em capacitar o profissional a escolher o sistema correto de impermeabilização. Expõe o conhecimento técnico aos participantes
                        com foco no conteúdo teórico e exercícios de desenvolvimento prático de compatibilização em obra. <a href="/main/post1">...ler mais</a></p>
                    </div>

                    <div class="post-base">
                        <hr>
                        <small class="pull-left string"><span class="glyphicon glyphicon-envelope"></span> Julho 24, 2017 às 9:30 PM</small>
                        <a class="pull-right" href="#">
                          <img class="media-object img-circle" src="/img/thumbinails/iorio.jpg" height="64">
                        </a>

                    </div>
                </div>


                <!-- Blog Post -->
                  <br><br><br><br>
                <div class="media">

                    <div class="media-body">
                        <h4 class="media-heading">
                            Workshop Soluções VEDACIT
                        </h4>
                        O Workshop consiste em reunir profissionais que trabalham com venda de produtos ou serviços na construção e pessoas interessadas em conservar e reformar os seus imóveis. Tem como propósito promover a discussão sobre as desvantagens de um imóvel mal conservado e apresentar soluções para reformar, revitalizar e
                        proteger ambientes e estruturas para segurança e conforto do usuário. <a href='/main/post3'>...ler mais</a></p>
                    </div>

                    <div class="post-base">
                        <hr>
                        <small class="pull-left string"><span class="glyphicon glyphicon-envelope"></span> Julho 20, 2017 às 10:30 AM</small>
                        <a class="pull-right" href="#">
                          <img class="media-object img-circle"  src="/img/thumbinails/iorio.jpg" height="64">
                        </a>
                    </div>
                </div>


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

               <!-- Blog Categories Well -->
                <div class="well categorias">
                    <h4>Categorias</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li><a href="#">Noticias</a>
                                </li>
                                <li><a href="#">Concursos</a>
                                </li>
                                <li><a href="#">Instituto</a>
                                </li>
                                <li><a href="#">Patrocínios</a>
                                </li>
                                <li><a href="#">Eventos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>


        </div>
        <!-- /.row -->

        <hr>
