
<h2 class="page-header">POST</h2>
<p>
Formulario de entrada e edição de postagens
</p>
<form method="POST" action="/blog/post/edit">

  <input id="titulo" type="text" placeholder="Você ainda nao escreveu nenhum titulo..." name="titulo" value="">
<hr>
  <textarea id="canva" placeholder="" name="texto">"Estamos aguardando ansiosamente pelo teu texto..." </textarea>
  <hr>
  <input type="submit" value="Salvar">
</form>
