<div class="login">
<!--<h2 class="page-header">Acesso</h2>-->
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Digite o seu email</label>
    <input type="text" class="form-control input-lg" name="email" placeholder="silva@exemplo.com.br">
  </div>
  <div class="form-group">
    <label>Digite a sua senha</label>
    <input type="password" class="form-control input-lg" name="password" placeholder="******">
  </div>
  <button type="submit" class="btn btn-info btn-block btn-lg">Entrar</button>
</form>
<div>
