<!-- Title -->
<h1>Conheça os vencedores do Concurso Cultural  Vedasport</h1>

<!-- Author -->
<p class="lead">
    por <a href="#">Marketing VEDACIT</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Publicado em Julho 20, 2017 às 10:30 AM</p>

<hr>

<!-- Preview Image -->
<img class="img-responsive" src="../img/conteudo/post4.png" style="width:100%">

<hr>

<!-- Post Content -->
<p class="lead" style="padding-top:50px; font-size: 200%;">É com muita satisfação que anunciamos os 50 ganhadores do Concurso Cultural
  Vedasporte. Recebemos dezenas de histórias com experiências de vida, fatos engraçados,
   casos de família, amor ao time ou ao esporte do coração.
</p>

<div class="col-lg-12" style="padding-top:50px; ">
  <div class="row">
      <div class="col-lg-6">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/iy-rPHVmKrc?list=PLNa4Nb32Mdtr5VFOvkZbG4UjrhJ1nS0qt" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-lg-6">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/erZaKiRYsJU?list=PLNa4Nb32Mdtr5VFOvkZbG4UjrhJ1nS0qt" frameborder="0" allowfullscreen></iframe>
      </div>
      <!--fecha a row-->
  </div>
<!--fecha a col-lg-12-->
</div>

<small>
  Luizomar, que é o técnico do vôlei Osasco e da seleção peruana, enviou os vídeos do Canadá.
   E a Virna, que é a madrinha do vôlei Valinhos, fez questão tambem de ler as histórias e parabenizar os participantes!
</small>

<p class="lead" style="padding-top:50px">Para selecionar os vencedores levamos em consideração o envolvimento, a adequação ao tema
  (tinha que falar de uma experiência pessoal com o esporte) e o tamanho
  (uma palavra só não vale! Um livro também não!).
   Erros gramaticais, estilo de texto, letra feia ou bonita, escrito a mão ou digitado
   não foram critérios considerados.
</p>


<p class="lead" style="padding-top:50px">E, como vocês capricharam bastante ficou difícil escolher os destaques, por isso,
  segue abaixo a lista <strong>- em ordem alfabética -</strong> com os premiados e em breve divulgaremos quem irá
  levar para casa a camisa oficial do time favorito.
</p>
<br>
<br>
<ul class="list-group" style="font-size: 150%">

<li class="list-group-item justify-content-between">Adriano Neves da Silva Miyashiro <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Alcione Lima dos Santos<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Alessandro Mendes de Almeida<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Alex Macedo de Araujo <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Alex Sandro Osiris Sembenelli<strong> (Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Alexandre Simão Silva <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">André de Lima Borba<strong> (Expo Center)</strong></li>
<li class="list-group-item justify-content-between">André Luis Gomes  da Silva<strong> (Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">André Ricardo Daniel<strong> (Expo Center)</strong></li>
<li class="list-group-item justify-content-between">Antonio Florêncio de Oliveira <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Camila de Oliveira Rocha<strong> (Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Carolina N. Cantão<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Daniel Teles Sousa<strong> (Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">Douglas Permanhani <strong>(Expo Center)</strong></li>
<li class="list-group-item justify-content-between">Edmilson Juarez da Silva <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Edvaldo Aleixo de Barros <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Estefano S. Monteiro<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Evandro Ribeiro Moura <strong>(Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">Fábio Dias Marta<strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Fábio Prado <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Francisco Lindonei Alves Pacheco <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Francisco W. Oliveira da Rocha <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Francisco Zanildo Ferreira Saraiva <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Gabriel Ribeiro Alves <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Iurg Blater Junior<strong> (Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">José Nilton de Jesus Junior<strong> (Vedact BA)</strong></li>
<li class="list-group-item justify-content-between">Jose Renato Pereira Nascimento <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Julia Cristina Pereira Santos <strong>(Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">Jurandir Vieira de Pinho <strong>(Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Karla Cristina da Silva Túlio<strong> (Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Kleber <strong>( Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Lafaete dos Santos Castor <strong>(Expo Center)</strong></li>
<li class="list-group-item justify-content-between">Manuel Vitorino Filho (Talibã) <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Marco Aurélio Lopes Medici <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Milton Almeida Gonçalves <strong>(Expo Center)</strong></li>
<li class="list-group-item justify-content-between">Mizael Benedito de Souza <strong>(Vedacit Itatiba)</strong></li>
<li class="list-group-item justify-content-between">Nathalia Narcizo<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Patricia Rodrigues <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Paulo Cesar Monteiro da Silva <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Paulo Sérgio Ferreira<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Regina Kazimour <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Renan Anselmo dos Santos <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Rodrigo da Silva Honório<strong> (Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Rodrigo Loreto de Oliveira <strong>(Vedacit SP)</strong></li>
<li class="list-group-item justify-content-between">Sara Vasconcelo<strong> (Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Tiago Batista de Souza<strong> (Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">Victor de Oliveira Neves <strong>(Center Norte)</strong></li>
<li class="list-group-item justify-content-between">Victor Yan Araujo Oliveira <strong>(Vedacir BA)</strong></li>
<li class="list-group-item justify-content-between">Walná Muniz<strong> (Vedacit BA)</strong></li>
<li class="list-group-item justify-content-between">William da Cruz Barbolsa <strong>(Expo Center)</strong></li>

</ul>


<!-- Preview Image -->
<br><br>
<h2>Premios<h2>
<img class="img-responsive" src="/img/conteudo/premios.png" style="width:40%">

<hr>


<!-- Blog Comments -->

<!-- Comments Form
<div class="well">
    <h4>Faça um comentário:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<hr>
-->
<!-- Posted Comments -->

<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
-->
<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      -->
        <!-- Nested Comment
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Outro Usuario
                    <small class="pull-right"><em>Respondeu em</em>: Agosto 25, 2017 às 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
      -->
        <!-- End Nested Comment

    </div>
</div>
-->
