<!-- Title -->
<h1>Treinamento em Sistemas de Impermeabilização</h1>

<!-- Author -->
<p class="lead">
    por <a href="#">Marketing VEDACIT</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Publicado em Julho 24, 2017 às 9:00 PM</p>

<hr>

<!-- Preview Image -->
<img class="img-responsive" src="../img/conteudo/post1.jpg" style="width:100%">

<hr>

<!-- Post Content -->
<p class="lead">A apresentação do tema consiste em descriminar a impermeabilização com foco em capacitar o profissional a escolher o sistema correto de impermeabilização.
  Expõe o conhecimento técnico aos participantes com foco no conteúdo teórico e exercícios de desenvolvimento prático de compatibilização em obra.</p>
<p>DIRECIONAMENTO:
Engenheiros e Arquitetos; Estudantes da área; Aplicadores; Pedreiros e outros profissionais da construção.
</p>
<p> PÚBLICO:
Profissionais da construção que buscam conhecimento ou aprimoramento sobre o tema.</p>
<p>NOSSO OBJETIVO:
Aproximar profissionais aplicadores e especificadores.</p>
<p>CONTEÚDO:
Definição, classificações e metodologias de aplicação.</p>
<p>OBJETIVOS:
Abordar a importância de buscar maior durabilidade das construções através da compatibilização dos projetos e da escolha correta dos sistemas de
impermeabilização, conforme as normas vigentes.</p>
<br>
<p>PROGRAMAÇÃO:</p>
<ul>
<li>Institucional;</li>
<li>Importância da impermeabilização;</li>
<li>Custo;</li>
<li>Principais normas;</li>
<li>Classificações;</li>
<li>Exemplos de aplicação;</li>
<li>Compatibilização de projetos;</li>
<li>Erros mais comuns;</li>
<li>Considerações finais.</li>
</ul>

<p>• DATA: Veja datas disponívieis na ficha de inscrição (jul a dez) </p>

<p>• HORÁRIOS:<br>
Tarde: 14h às 16h;<br>
Noite: 19 às 21h<br>
</p>

<p>LOCAL:<br>
R. Cel. Marcílio Franco, 1063 - Vila Isolina Mazzei, São Paulo - SP</p>
<hr>

<!-- Blog Comments -->

<!-- Comments Form
<div class="well">
    <h4>Faça um comentário:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<hr>
-->
<!-- Posted Comments -->

<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
-->
<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      -->
        <!-- Nested Comment
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Outro Usuario
                    <small class="pull-right"><em>Respondeu em</em>: Agosto 25, 2017 às 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
      -->
        <!-- End Nested Comment

    </div>
</div>
-->
