<!-- Title -->
<h1>Inscrições abertas para o Concurso Cultural Infantil de Desenhos</h1>

<!-- Author -->
<p class="lead">
    por <a href="#">Marketing VEDACIT</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Publicado em Julho 31, 2017 às 2:30 PM</p>

<hr>

<!-- Preview Image -->
<img class="img-responsive" src="../img/conteudo/VIVAvolei.jpg" style="width:100%">

<hr>

<!-- Post Content -->
<p class="lead">Para você que tem filhos de 4 a 12 anos preparamos uma ação especial: um concurso de desenhos. Com o tema<strong> “Eu, meu pai e o esporte”</strong> as crianças
  podem abusar da criatividade para desenvolver o tema. Vale usar lápis, caneta, giz e tinta, de todas as cores.
  Não valem colagens, dobraduras ou qualquer tipo de montagem com fotos ou outro material. </p>

<p class="bloco">
  Os autores dos 30 desenhos mais criativos vão participar de uma manhã especial com algumas jogadoras do Vôlei Nestlé Osasco. O evento Viva Vôlei terá jogos,
  brincadeiras e brindes e será realizado na véspera do Dia dos Pais, 12 de agosto (sábado), na quadra da Decathlon do Lar Center.
</p>

<p class="bloco">Pais, é importante lembrar:</p>
<ul class="list-unstyled">
    <li class="itemDeLista">A inscrição pode ser feita pelo pai, mãe ou responsável.
    <li class="itemDeLista">A ficha de inscrição com o espaço para o desenho está disponível no almoxarifado.
    <li class="itemDeLista">O desenho deve ser feito no local indicado.
    <li class="itemDeLista">Quem tiver dois filhos ou mais deve preencher uma ficha para cada participante.
    <li class="itemDeLista">As inscrições terminam em 7 de agosto (segunda-feira).
    <li class="itemDeLista">No dia do evento as crianças devem ir acompanhadas por um responsável (com mais de 18 anos).
</ul>




<p class="jumbotron destaque">
Incentive seu filho a desenhar e participe!<br>
Os selecionados serão anunciados em 10 de agosto aqui no blog.
</p>




<!-- Blog Comments -->

<!-- Comments Form
<div class="well">
    <h4>Faça um comentário:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<hr>
-->
<!-- Posted Comments -->

<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
-->
<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      -->
        <!-- Nested Comment
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Outro Usuario
                    <small class="pull-right"><em>Respondeu em</em>: Agosto 25, 2017 às 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
      -->
        <!-- End Nested Comment

    </div>
</div>
-->
