<!-- Title -->
<h1>Workshop Soluções VEDACIT</h1>

<!-- Author -->
<p class="lead">
    por <a href="#">Marketing VEDACIT</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Publicado em Julho 20, 2017 às 10:30 AM</p>

<hr>

<!-- Preview Image -->
<img class="img-responsive" src="../img/conteudo/post3.jpg" style="width:100%">

<hr>

<!-- Post Content -->
<p class="lead">O Workshop consiste em reunir profissionais que trabalham com venda de produtos ou serviços na construção e pessoas interessadas em conservar e reformar os seus imóveis. Tem como propósito promover a discussão sobre as desvantagens de um imóvel mal conservado e apresentar soluções para reformar, revitalizar e
proteger ambientes e estruturas para segurança e conforto do usuário. </p>

<p>DIRECIONAMENTO:
Lojistas e vendedores; Empreendedores; profissionais da construção e consumidor final.
</p>

<p>PÚBLICO:
Interessados em soluções para conservar e reformar imóveis.
</p>

<p>NOSSO OBJETIVO:
Divulgar lançamentos, prospectar marca e reunir ideias para
inovações.
</p>

<p>CONTEÚDO:
Apresentação das soluções para os problemas mais frequentes de desempenho das edificações habitacionais.
</p>

<p>OBJETIVO:
Abordar o conjunto de atividades a serem realizadas para conservar ou recuperar a capacidade funcional da edificação e de suas partes constituintes, atendendo as necessidades e segurança dos seus usuários.
</p>


<p>PROGRAMAÇÃO:</p>
<ul>
<li>Institucional
<li>Principais problemas causados pela umidade;
<li>Como acabar com a umidade e facilitar a solução em:
<li>Fachadas;
<li>Paredes internas;
<li>Móveis de decoração;
<li>Banheiros;
<li>Lajes;
<li>Piscinas;
<li>Considerações finais.
</ul>


<p>DATA: Veja datas disponívieis na ficha de inscrição (jul a dez)</p>

<p>HORÁRIOS:
Tarde: 14h às 16h;
Noite: 19 às 21h
</p>

<p>LOCAL:
R. Cel. Marcílio Franco, 1063 - Vila Isolina Mazzei, São Paulo - SP
</p>




<!-- Blog Comments -->

<!-- Comments Form
<div class="well">
    <h4>Faça um comentário:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<hr>
-->
<!-- Posted Comments -->

<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>
-->
<!-- Comment
<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Autor do Post
            <small class="pull-right"><em>Enviado em</em>: Agosto 25, 2017 às 9:30 PM</small>
        </h4>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      -->
        <!-- Nested Comment
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Outro Usuario
                    <small class="pull-right"><em>Respondeu em</em>: Agosto 25, 2017 às 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
      -->
        <!-- End Nested Comment

    </div>
</div>
-->
